@media only screen and (max-width: $screen-sm){
  .header {
    min-height: 600px;
    background: url('../images/lillydoo-testpaket-header-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__certificate {
      display: none;
    }

    &__discover {
      margin: 100px auto;
      padding: 0px 40px;
      width: 100%;
      align-self: start;

      &-label {
        text-align: center;
        font-size: 40px;
      }
    }

    &__button {
      margin-top: 40px;
      min-width: auto;
      width: auto;
    }
  }
}

@media only screen and (max-width: $screen-xs){
  .header {
    background: url('../images/lillydoo-testpaket-header-sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
  }
}
